### Model Comparison Notebook

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [17]:
df_data = pd.read_csv('comparison_data_new.csv',index_col=0)

In [18]:
plt.rc('xtick', labelsize=14) 
plt.rc('ytick', labelsize=14)

plt.rc('axes', labelsize=20)

In [22]:
df_data['experiment'] = df_data['image_name'].str[:5]

In [28]:
df_data[df_data['rock_type'] == df_data['best_model_'+str(i)]].groupby('experiment')['best_model_'+str(i)].count()

experiment
ML-V1    16
ML-V2    31
MS-B1     5
MS-M1     4
Name: best_model_4, dtype: int64

In [27]:
df_data['experiment'].value_counts()[0]

200

In [36]:
df_acc = pd.DataFrame(columns=df_data['experiment'].unique())
for i in range(5):
    df_acc.loc[i,:] = df_data[df_data['rock_type'] == df_data['best_model_'+str(i)]].groupby('experiment')['best_model_'+str(i)].count()/df_data['experiment'].value_counts()[0]

experiment
ML-V1    0.010
ML-V2    0.100
MS-B1    0.035
Name: best_model_0, dtype: float64
experiment
ML-V1    0.030
ML-V2    0.065
MS-B1    0.590
MS-M1    0.345
MS-M2    0.170
Name: best_model_1, dtype: float64
experiment
ML-V1    0.030
ML-V2    0.010
MS-B1    0.080
MS-M1    0.015
Name: best_model_2, dtype: float64
experiment
ML-V1    0.080
ML-V2    0.075
MS-B1    0.045
MS-M1    0.015
Name: best_model_3, dtype: float64
experiment
ML-V1    0.080
ML-V2    0.155
MS-B1    0.025
MS-M1    0.020
Name: best_model_4, dtype: float64

In [38]:
# Print accuracy in %
df_acc * 100

  ML-V1 ML-V2 MS-B1 MS-M1 MS-M2
0     1    10   3.5   NaN   NaN
1     3   6.5    59  34.5    17
2     3     1     8   1.5   NaN
3     8   7.5   4.5   1.5   NaN
4     8  15.5   2.5     2   NaN